@import 'style.css';

:root {
	--main-text-dark: #0b2442;
	--main-text-medium: #3b6aa7;
	--main-text-light: #f7f7f7;
	--main-bg-dark: #0b2442;
	--main-bg-medium: #3b6aa7;
	--main-bg-light: #f7f7f7;
	--main-btn: rgb(239, 239, 239);
	--main-hover: rgb(225, 225, 225);
	--main-menu-bg: #c4c4c4;
	--main-label: #8b898a;
}

html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 18px;
	height: 100%;
	margin: 0;
	letter-spacing: 1px;
	color: var(--main-bg-dark);
}

i {
  display: inline-block;
  margin-right: 8px;
}

h1,
h2,
h3 {
	color: var(--main-bg-medium);
}

h1 {
	font-size: 20px;
	font-weight: 600;
	margin: 24px auto 36px;
  line-height: 30px;
  border-bottom: 1px solid #EEE;
  padding-bottom: 30px;
}

h2 {
	font-weight: 400;
	font-size: 24px;
}

h3 {
	font-weight: 200;
	font-size: 18px;
	font-weight: 400;
}

p {
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.1rem;
	font-weight: 500;
}

a {
	letter-spacing: 1px;
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	display: block;
	list-style: none;
	border-radius: 2px;
}

li {
	display: inline;
	text-align: center;
	list-style: none;
}

.container {
	position: relative;
}

header {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	margin: 0;
	padding: 14px;
	background-color: #050605;
}

nav {
	position: absolute;
	top: 101%;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	transition: visibility 300ms linear 300ms, opacity 300ms;
}

nav li {
	padding: 12px;
}

nav ul {
  padding: 0;
  margin: 4px;
}

nav ul span {
  display: none;
}

.nav__img {
	width: 28px;
	height: auto;
}

.nav__expanded {
	padding-top: 60px;
}

section {
  clear: both;
	text-align: left;
	line-height: normal;
	margin: 0;
	padding: 2.5em;
}

header li > a {
	color: var(--main-text-light);
  border: none;
  background-color: transparent;
}

header li > a:hover {
	border: none;
	background-color: transparent;
	text-decoration: none;
	opacity: 70%;
}

.header__logo,
.header__logo img {
	width: auto;
  height: 32px;
  text-align: center;
}

.hero {
	position: relative;
	padding: 28px 28px 14px;
	min-height: 280px;
	background-image: url('images/hero_lg.jpg');
	background-size: cover;
	background-position: 50% 38%;
	background-repeat: no-repeat;
}

.hero__inner {
	position: absolute;
	bottom: 14px;
	right: 14px;
	padding: 0;
}

.hero__tagline {
	position: absolute;
	bottom: 0;
	right: 0;
  font-size: 28px;
  font-weight: 600;
	text-align: right;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.about__portrait {
  width: 100%;
  height: auto;
  float: none;
  margin: 0 0 16px 0;
  padding: 0;
  border: 1px solid rgba(0,0,0,0.10);
}

.contact {
	position: relative;
	padding: 14px 28px 28px;
	text-align: center;
	width: 100%;
	color: black;
}

.contact h3 {
	display: none;
}

.ul__btns {
	display: flex;
	flex-direction: row;
	text-align: center;
	padding: 0;
	margin: 0;
}

.ul__btns li {
	flex: 1;
}

.ul__btns.contact__btns li > a {
  background-color: transparent;
  border: none;
  padding: 0;
}

.ul__btns.contact__btns li > a:hover {
  background-color: transparent;
  opacity: 0.75;
}

.ul__btns.contact__btns li > a img {
  width: 56px;
  height: auto;
}

.ul__btns a {
	display: block;
	padding: 12px 0;
	border-radius: 2px;
	text-decoration: none;
	font-size: 13px;
	margin: 8px;
}

.section__container {
	padding: 28px;
}

.project {
	margin: 48px 0 10px;
	padding: 24px;
	border: 1px solid var(--main-text-medium);
	border-radius: 2px;
}

.project__image img {
	width: 100%;
	height: auto;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}

.project__text {
	margin: 10px;
}

.project__stack {
	display: block;
	font-size: 12px;
	text-align: center;
	padding: 0;
	margin: 24px auto;
	width: 100%;
	column-count: 2;
	column-gap: 0;
}

.project__stack li {
	display: inline-block;
	padding: 5px 8px;
	margin: 5px;
	border-radius: 1px;
	background-color: rgb(237, 227, 228, 0.3);
	width: 90%;
}

.skills__text ul {
	padding: 2px 20px;
}

.skills__text li {
	padding: 0;
	text-align: center;
}

.skills__text img {
  display: block;
  width: auto;
  height: 96px;
  padding: 0;
  margin: 0 auto;
	text-align: center;
}

.skills__text h5 {
	margin-bottom: 10px;
}

footer {
	text-align: center;
	padding: 28px;
}

.footer__copy {
	font-size: 14px;
}

/* reusable anchor styles for button look */

li > a {
  border: thin solid var(--main-text-dark);
  background-color: var(--main-bg-medium);
  color: var(--main-text-light);
}

li > a:hover {
	background-color: var(--main-text-dark);
	border: thin solid var(--main-text-medium);
}

@media screen and (min-width: 415px) {
	h1 {
		font-size: 28px;
		line-height: 40px;
	}

	p {
		font-size: 14px;
		line-height: 24px;
	}

	nav {
		text-shadow: 1px 1px 3px black;
	}

	.hero {
		min-height: 400px;
	}

	.hero__image img {
		width: 356px;
	}

	.hero__text {
		bottom: 56px;
		width: 412px;
		text-shadow: none;
	}

	.ul__btns {
		padding: 0 56px 30px;
  }
  
  .about__portrait {
    width: 48%;
    height: auto;
    float: right;
    margin: 0 0 16px 10px;
    padding: 0;
    border: 1px solid rgba(0,0,0,0.10);
  }

	.project__stack {
		column-count: unset;
	}

	.project__stack li {
		width: auto;
	}

	.skills__text {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.skills__text ul {
		flex: 1;
		margin: 10px;
	}

}

@media screen and (min-width: 724px) {
	h1 {
		font-size: 36px;
	}

	header {
		/* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
	}

	header,
	section {
		padding: 18px;
  }
  
  .header__logo,
  .header__logo img {
    text-align: left;
  }

	nav {
		position: absolute;
		top: 28px;
		right: 28px;
		left: unset;
		width: auto;
		z-index: 100;
		text-align: center;
	}

	nav ul {
		padding: 0;
		margin: 0;
  }

	nav li {
    font-size: 1.2rem;
    font-weight: 400;
		padding: 0 0 0 18px;
	}

	nav li:first-child {
		padding: 0;
	}

	.hero {
		min-height: 600px;
	}

	.hero__inner {
		bottom: 18px;
		right: 18px;
	}

	.hero__tagline {
		position: relative;
	}

	.hero__image {
		display: inline-block;
		position: relative;
		width: 280px;
		vertical-align: middle;
	}

	.hero__image img {
		width: 280px;
	}

	.hero__text {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		width: 320px;
		top: 0;
		margin: 0;
		padding: 0 0 0 40px;
	}

	.hero__text h1,
	.hero__text p {
		margin: 0 0 18px;
	}

	.ul__btns {
		display: block;
		padding: 30px 0 60px;
		margin: auto;
	}

	.ul__btns li {
		display: inline-block;
		flex: none;
	}

	.ul__btns a {
		padding: 12px 18px;
		min-width: 120px;
	}

	.section__container {
		padding: 60px 0;
	}

	.section__inner {
		max-width: 640px;
		margin: 0 auto;
	}

	.section__inner h1 {
		text-align: center;
		margin-bottom: 80px;
	}
}

@media screen and (min-width: 840px) {
  nav ul span {
    display: inline;
  }
}

@media screen and (min-width: 1450px) {
  .hero{
    background-position: 50% 50%;
  }
}